$length: 0.8s;

.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: -3;
}

[class*='bg'] {
  width: 110vw;
  height: 50vh;
  position: absolute;
  z-index: -1;
}

[class*='pink'] {
  background: $pink;
  z-index: -3;
}

[class*='dark'] {
  background: $dark;
  z-index: -2;
}

[class*='top'] {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
}

[class*='bottom'] {
  clip-path: polygon(100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.bg {
  &-top {
    &-dark {
      top: -20px;
      left: -20px;
      transform-origin: top right;
      transform: rotate(90deg);
      animation: top-dark-in $length cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      animation-delay: 0.2s;
    }

    &-pink {
      top: -50px;
      left: -50px;
      transform-origin: bottom left;
      transform: rotate(-180deg);
      animation: top-pink-in $length cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      animation-delay: 0;
    }
  }

  &-bottom {
    &-dark {
      bottom: -20px;
      right: -20px;
      transform-origin: bottom left;
      transform: rotate(90deg);
      animation: bottom-pink-in $length cubic-bezier(0.165, 0.84, 0.44, 1)
        forwards;
      animation-delay: 0.2s;
    }

    &-pink {
      bottom: 0;
      right: 0;
      transform-origin: bottom left;
      transform: rotate(90deg);
      animation: bottom-pink-in $length cubic-bezier(0.165, 0.84, 0.44, 1)
        forwards;
      animation-delay: 0;
    }
  }
}
