.loading-spinner {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  color: white;
  font-weight: $bold;
  font-size: 38px;

  svg {
    width: 50px;
    margin: 0 5px;
  }

  circle {
    fill: transparent;
    stroke: $white;
    stroke-width: 10;
    stroke-dasharray: 20;
    stroke-dashoffset: 100;
    animation: loader 1s ease-in alternate-reverse;
    animation-iteration-count: infinite;
  }
}

@keyframes loader {
  to {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
  }
}
