@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:300,400,700|Space+Mono&display=swap');

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', monospace;
}

.monoton {
  font-family: 'Monoton', cursive;
}
