// Colors
$grey: #a0a0a0;
$yellow: #f2ff57;
$green: #64e291;
$light: #f6f6f6;
$pink: #ff3f98;
$dark: #010a43;
$green-secondary: #b7e778;
$blue: #18e4f3;

// Font weights for open sans
$light: 300;
$regular: 400;
$bold: 700;
